@import url(variables.css);

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--white);
    font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    margin: 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    margin: 0;
    font-size: 1.6rem;
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.card {
    background-color: var(--white);
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    background: rgba(184, 196, 210, 0.20);
    backdrop-filter: blur(50px);
    padding: 1rem;
    margin: 1rem;
}