@import url(../../styles/variables.css);



.footer {
    background-color: var(--primary-color);
    color: var(--white);
    display: block;
    height: auto;
    padding: 2rem;
}
@media (min-width: 768px) {
    .footer {
        display: flex;
        height: 10rem;
        justify-content: space-between;
        align-items: center;
    }
}

/** Logo */
.footer__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) {
    .footer__logo a {
        display: flex;
        align-items: center;
    }
}

.footer__logo h2 {
    color: var(--white);
    margin-left: 1rem;
    font-size: 3rem;
}

.footer__logo img {
    width: 7rem;
    height: 7rem;
}

.footer__logo--barra {
    display: inline-block;
    height: 6rem;
    width: 0.2rem;
    border-radius: 40px;
    background-color: var(--white);
}

/** Info */
.footer__info ul {
    text-align: center;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .footer__info ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
}

.footer__info a,
.footer-bottom p {
    font-family: var(--secondary-font);
    color: var(--white);
}

.footer__info li {
    display: block;
    margin: 1rem;
}
@media (min-width: 768px) {
    .footer__info li {
        display: inline;
        margin: 0;
    }
}

.footer__info li a {
    padding: 1rem;
    font-size: 1.6rem;
}
@media (min-width: 768px) {
    .footer__info li a {
    
    }
}

.footer__info li:last-child a {
    padding-right: 0;
}

.link__bar {
    display: inline-block;
    border-radius: 40px;
    background-color: #D9D9D9;
    height: 0.05rem;
    width: 15rem;
}
@media (min-width: 768px) {
    .link__bar {
        height: 2.2rem;
        width: 0.1rem;
    }
    
}

.footer__bottom p {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    color: rgb(255 255 255 / 0.4);
}
@media (min-width: 768px) {
    .footer__bottom p {
        font-size: 1.2rem;
        padding: 0;
        margin-top: 1rem;
        text-align: right;
    }

}