@import url(../../styles/variables.css);

.header {
  background-color: var(--white);
  border-radius: 3rem 0 0 0;
  width: 100%;
}

.header__container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  padding: 1rem 2rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__container {
      padding: 2rem 4rem;
  }
}

/** Logotipo */
.header__logo a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__logo img {
  display: inline-block;
  height: 5rem;
}
@media (min-width: 768px) {
  .header__logo img {
    display: none;
  }
}

.header__barra {
  height: 5rem;
  width: 0.25rem;
  margin: 0 1.25rem;
  border-radius: 40px;
  background-color: var(--black);
}
@media (min-width: 768px) {
  .header__barra {
    display: none;
  } 
}

.header__logo h1 {
  font-size: 3.5rem;
  color: var(--black);
}

/** Usuario */
.header__user {
  display: none;
}
@media (min-width: 768px) {
  .header__user {
      display: block;
  }
}

.header__user a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__user p {
  font-size: 1.6rem;
  margin-left: 1rem;
}

.header__image img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

/** Opciones */
.header__options {
  overflow: hidden;
  text-align: center;
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}

.header__options.open {
  margin-top: 3rem;
  max-height: 30rem;
  opacity: 1;
}

.header__options a {
  display: inline-block;
  width: 35%;
  padding: 2.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

/** Menu */
.menu-icon {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .menu-icon,
  .header__options {
      display: none;
  }
}