@import url(../../../styles/variables.css);

/** General styles forms */
.form__title {
    font-weight: 700;
    color: var(--gray-1);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
}

.login-form {
    gap: 2rem;
}

.register-form {
    gap: 0.8rem;
}

.login-form input,
.register-form input {
    padding: 0.8rem;
    border-radius: 50px;
    border: 1px solid var(--gray);
    background-color: var(--gray-bg);
    font-size: 1.2rem;
}

.back-container {
    margin: 0 auto;
    padding: 3rem;
}

.front-container {
    filter: drop-shadow(10px 0px 20px var(--gradient-black));
}