@import url(/src/styles/variables.css);

.header--login {
    background-color: var(--white);
}

.header__container--login {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding: 1rem 2rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .header__container--login {
        justify-content: start;
        padding: 2rem 4rem;
    }
}

/** Logotipo */
.header__logo--login a {
    display: flex;
    align-items: center;
}

.header__logo--login img {
    display: inline-block;
    height: 5rem;
}

.header__logo--login h1 {
    font-size: 3.5rem;
    color: var(--black);
    margin: 0 2rem;
}