@import url(/src/styles/variables.css);

/** General styles forms */
.register-section {
    width: 93%;
}

.form__title {
    margin: 0;
    color: var(--gray-1);
    font-weight: 700;
    text-transform: uppercase;
}

.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    gap: 2rem;
}

.register-form {
    gap: 0.8rem;
}

.field {
    width: 100%;
    padding: 0.8rem;
    border-radius: 50px;
    border: 1px solid var(--gray);
    background-color: var(--gray-bg);
    font-size: 1.2rem;
}

.field--medium {
    width: 47.5%;
}

.fields-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button--login {
    font-size: 1.3rem;
    border-radius: 50px;
    filter: drop-shadow(2px 2px 2px var(--gradient-black));
}

.form__error {
    color: var(--red);
    font-size: 1.2rem;
    margin-top: 0;
}

/** Input Icons  */
.field-icon {
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.8rem;
    padding-left: 3.5rem; 
}

.field-icon--name {
    background-image: url('/src/assets/icons/user-icon.svg');   
}

.field-icon--email {
    background-image: url('/src/assets/icons/email-icon.svg');
}

.field-icon--matricula {
    background-image: url('/src/assets/icons/matricula-icon.svg');
}

.field-icon--matricula {
    background-image: url('/src/assets/icons/matricula-icon.svg');
}

.field-icon--phone {
    background-image: url('/src/assets/icons/phone-icon.svg');
}

.field-icon--address {
    background-image: url('/src/assets/icons/address-icon.svg');

}

.field-icon--password {
    background-image: url('/src/assets/icons/password-icon.svg');
}