:root{
    --color-letra-negra:rgba(0, 0, 0, 1);
    --color-letra-formulario:rgba(0, 46, 95, 0.5);
    --background-boton:rgba(198, 147, 22, 0.9);
    --borde-formulario:rgba(249, 249, 249, 0.8);
    --background-tarjetas:rgba(203, 211, 219, 0.5);
}
main{
    display: flex;
    flex-direction: column;
}
/*primera parte tarjeta e info de tarjeta*/
.tarjeta__info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5rem auto;
}
.tarjeta__info img{
    width: 30%;
}
.contenido__formulario{
    width: 60%;
}
.contenido__formulario h2{
    font-size: 2.5rem;
    margin: 2rem 0 0 2rem;
}
.formulario__saldo{
    display: flex;
}
.formulario{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin: 1rem 2rem;
}
.formulario label{
    color: var(--color-letra-formulario);
}
.formulario input{
    padding: 1rem 5rem 1rem 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    border-color: var(--borde-formulario);
}
.saldo__disponible{
    background-color: var(--background-tarjetas);
    border-radius: 20px;
    box-shadow: 3px 3px 5px;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}
.saldo__disponible p{
    font-size: 2rem;
    margin: 2rem 2rem;
}
.saldo__disponible output{
    font-size: 5rem;
    font-weight: 800;
    margin: 5rem 9rem;
}
/*destinatario*/
.destinatario{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.destinatario h2{
    margin: 2rem;
    font-size: 2.5rem;
}
.formulario__destinatario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,2fr);
    margin: 0 0 5rem 0;
}
.formulario__destinatario div{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:0 0rem 0 5rem;
}
.formulario__destinatario label{
    font-size: 2rem;
    color: var(--color-letra-formulario);
    margin: 1rem 0;
}
.formulario__destinatario input{
    padding: 1rem;
    width: 45rem;
    font-size: 1.5rem;
    border-radius: 20px;
    border-color: var(--borde-formulario);
}
/*Monto a pagar*/
.monto__pagar{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
}
.monto__pagar .tarjetas__transferencia{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.tarjetas__transferencia div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    background-color: var(--background-tarjetas);
    border-radius: 20px;
    box-shadow: 3px 3px 5px;
}
.tarjetas__transferencia h2{
    font-size: 2.5rem;
}
.tarjetas__transferencia img{
    width: 60%;
}
.tarjetas__transferencia label{
    margin: 2rem;
    font-size: 2rem;
}
#img__transferencia{
    display: flex;
    width: 8%;
    height: 25%;
    margin:15rem auto ;
}
/**/
.saldo__confirmacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saldo__confirmacion p{
    font-size: 2rem;
    margin: 0rem 2rem;

}
.saldo__confirmacion output{
    font-size: 5rem;
    font-weight: 800;
    margin: 2rem 9rem;
}
/**/
.cantidad__depositar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cantidad__depositar label{
    font-size: 3rem;
}
.cantidad__depositar input{
    font-size: 3.5rem;
    border-radius: 20px;
    width: 30%;
    text-align: center;
}
.boton__depositar{
    width: 20%;
    font-size: 2rem;
    border-radius: 20px;
    background-color: var(--background-boton);
    margin: 2rem auto;
}
