:root{
    --color-letras-negras: rgba(0, 0, 0, 1);
    --tipografia:'Sarabun', sans-serif;
    --color-letras-formulario : rgba(0, 46, 95, 0.5);
    --background-boton : rgba(198, 147, 22, 0.9);
    --borde-color-boton: rgba(0, 0, 0, 0.6);
    --border-color:rgba(0, 0, 0, 1);
}

.contenido__formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5%;
    margin: 3% 10% 5% 10%;
}
.titulo__formulario{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 3rem;
}
.pregunta__formulario__direccion{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
}
.pregunta__formulario__direccion label{
    margin: 0 0 1% 0;
}
.pregunta__formulario{
    display: flex;
    flex-direction: column;
}
.pregunta__formulario label{
    margin: 0 0 2% 0;
}
.contenido__formulario input{
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: 3px 3px 5px;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
.contenido__formulario label{
    font-size: 2rem;
    color: var(--color-letras-formulario);
}
.boton{
    display: flex;
    justify-content: center;
}
.boton input{
    background-color: var(--background-boton);
    border-color: var(--borde-color-boton);
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 3% 0;
    box-shadow: 3px 3px 5px;
}