:root{
    --background-principal:rgba(237, 237, 237, 1);
    --color-letra-blanco: #FFFFFF;
    --color-letra-negro :#000000; 
    --tipografia:'Sarabun', sans-serif;
}
.saludo{
    margin: 2% 0 0% 5%;
}
/* cuenta*/
.cuenta{
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
}
.tarjeta__principal{
    width: 40%;
}
.tarjeta__principal img{
    width: 70%;
}
.info__tarjeta{
    background-color: var(--background-principal);
    border-radius: 20px;
    width: 40%;
    padding: 5% 5% 5% 5%;
}

/*Botones*/
.botones{
    display: flex;
    
}
.boton__funcion{
    margin: 0 10% 0 10%;
    width: 15%;
}

/*tajetas*/
.tarjetas{
    display: flex;
    justify-content: space-around;
    
    
}

.contenido__tarjetas{
    background-color: var(--background-principal);
    border-radius: 20px;
    margin: 0 0 5% 0;
}