@import url(/src/styles/variables.css);

.card-component {
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem;
    border: 1px solid var(--gray);
    background-color: var(--gray-bg);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .card-component {
        width: 30%;
        margin: 1rem;
    }
}

.card-component img {
    display: none;
}
@media (min-width: 768px) {
    .card-component img {
        display: block;
        width: 100%;
        margin: 2rem 0;
    }
}

.card-component h3 {
    font-size: 1.6rem;
}

.card-component p {
    font-size: 1.2rem;
}

.card-component output {
    font-size: 1.6rem;
}

.balance-section {
    text-align: center;
    margin-top: 0.5rem;
    width: 100%;
}
@media (min-width: 768px) {
    .balance-section {
        width: 95%;
        text-align: left;
    }   
}
