@import url(/src/styles/variables.css);

.client-main-view {
    width: min(95%, 120rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.card-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (min-width: 768px) {
    .card-list {
        width: min(95%, 80rem);
        flex-direction: row;
        align-items: center;
    }
    
}

.card-info-section {
    height: auto;
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .card-info-section {
        width: min(95%, 80rem);
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card-section__image {
    width: 80%;
    cursor: pointer;
}

.card-info {
    width: 80%;
    height: 100%;
    padding: 2rem;
    margin: 2rem auto 0rem auto;
    background-color: var(--gray-bg);
    text-align: center;
}

@media (min-width: 768px) {
    .card-info {
        margin: 0;
        padding: 4rem;
        text-align: left;
    }
}

.card-info h3 {
    font-size: 1.7rem;
    margin: 0;
    font-weight: 700;
}

@media (min-width: 768px) {
    .card-info h3 {
        font-size: 2rem;
        margin: 1rem 0;
    }
}

.card-info h4 {
    font-size: 1.4rem;
    margin: 1.2rem 0 0.5rem 0;
    font-weight: 700;
}

@media (min-width: 768px) {
    .card-info h4 {
        font-size: 1.6rem;
        margin: 2rem 0 1rem 0;
    }
}

.card-info--number {
    font-size: 1.7rem;
    letter-spacing: 1.5px;
}

.card-info--balance {
    font-size: 2rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .card-info--balance {
        font-size: 3rem;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card-info__button {
    width: 12rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: var(--white);
    border: 1.5px solid var(--gray);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 0.1s ease-in-out;
}

.card-info__button img {
    width: 3rem;
    height: 3rem;
}

.card-info__button:hover {
    background-color: var(--gray-bg);
}

.card-info__button:active {
    transform: scale(0.98);
}